<style>
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

  }
</style>

<body>
  <div class="form group">
    <h2 for="brand">Brand</h2>
    <form #fff="ngForm">
      <table border="1px" class="table table-responsive">
        <td>
          Select Category:
          <select class="from-control" style="width: 300px" name="drop1" [(ngModel)]="drpcat" (change)="dispalysscat()">
            <option *ngFor="let x of discat" value="{{x._id}}">{{x.cname}}</option>
          </select>
        </td>
        <br>
        <td>
          Select SubCategory:
          <select class="from-control" style="width: 300px" name="drop2" [(ngModel)]="drps" (change)="dispsscat()">
            <option *ngFor="let x of disscat" value="{{x._id}}">{{x.sname}}</option>
          </select>
        </td>
        <br>
        <td>
          Select Sub-Sub-Category:
          <select class="from-control" style="width: 300px" name="drop3" [(ngModel)]="drpss">
            <option *ngFor="let x of dissscat" value="{{x._id}}">{{x.ssname}}</option>
          </select>
        </td>
        <tr>
          <td>
            Enter Brand Name:
            <input type="text" id="sscat" [(ngModel)]="br1" placeholder="Enter Brand Name" style="margin-left: 20px;" required #tx="ngModel"
              name="brtext">
          </td>
          <td></td>
          <td>
            <input type="button" value="Add Brand" class="btn btn-secondary" (click)="insbrand()">
          </td>
          <td>
            <input type="button" value="tab " (click)="disbr()">
          </td>

        </tr>
      </table>
      <table border="1px" class="table table-responsive">
        <tr>
          <th>BrandId</th>
          <th>Category-Name</th>
          <th>Subcategory Name</th>
          <th>Sub-Sub-Catgory Name</th>
          <th>Brand Name</th>
        </tr>
        <tr *ngFor="let x of brand">
          <td *ngIf="global!=x._id; else tmp">{{x._id}}</td>
          <td *ngIf="global!=x._id">{{x.cname}}</td>
          <td *ngIf="global!=x._id">{{x.sname}}</td>
          <td *ngIf="global!=x._id">{{x.ssname}}</td>
          <td *ngIf="global!=x._id">{{x.bname}}</td>
          <td *ngIf="global!=x._id">
            <input type="button" value="Update" class="btn btn-primary" (click)="funupdate(x)">&nbsp;
            &nbsp;
            <span *ngIf="x.active==1"><input type="button" value="Inactive" class="btn btn-warning" 
              (click)="funInactive(x,0)"></span>&nbsp;
             <span *ngIf="x.active==0"><input type="button" value="Active" class="btn btn-success" 
              (click)="funactive(x,0)"></span></td>
        </tr>
      </table>

      <ng-template #tmp>

        <td>{{global}}</td>
        <td>
          <select class="from-control" style="width: 300px" name="drop1" [(ngModel)]="drpcat1" (change)="dispalysscat1()">
            <option *ngFor="let x of discat" value="{{x._id}}">{{x.cname}}</option>
          </select>
        </td>
        <td>
          <select class="from-control" style="width: 300px" name="drop2" [(ngModel)]="drps1" (change)="dispsscat1()">
            <option *ngFor="let y of disscat1" value="{{y._id}}">{{y.sname}}</option>
          </select>
        </td>
        <td>
          <select class="from-control" style="width: 300px" name="drop3" [(ngModel)]="drpss1">
            <option *ngFor="let z of dissscat1" value="{{z._id}}">{{z.ssname}}</option>
          </select>
        </td>
        <td>
          <input type="text" name="ftyty" [(ngModel)]="t1">
        </td>
        <td>
          <input type="button" value="Save" class="btn btn-primary" (click)="funsave()">&nbsp;
          <input type="button" value="cancel" class="btn btn-danger" (click)="global=0">
        </td>
      </ng-template>
    </form>
  </div>
</body>